@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    
    --color-blue-50: #0C2E54;
    --color-blue-100: #085776;
    --color-blue-200: #0787A2;

    /* Gradiente */
    --color-gradient: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-100), var(--color-blue-200));
}

body {
    
    margin: 0;
    padding: 0;
    background: #f1f1f3;
    color: var(--color-dark-50);
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #ffffff;
    font-weight: 300;
}
h2 {
    color: #000000;
    font-weight: 300;
}
p {
    font-weight: 200;
    font-size: 150%;

}

header {
    background: var(--color-gradient);
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    flex-direction: column;
    gap: 10px;
}
#logo {
    width: 100%;
    max-width: 300px;
    position: absolute; 
    top: 10px;
    left: 10px; 
    margin-top: 1%; 
}


nav {
    background-color: var(--color-blue-50);
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.main-content {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 10px;
    padding: 20px;
    min-height: 60vh; 
}
.form-container {
    text-align: center;
}
.veiculo{
    margin-top: 5%;
}

.container {
    width: 40%; 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 50px;

}

.info-text {
    width: 40%; 
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.info-text h2 {
    margin-top: 0;
}

.info-text p2 {
    text-align: justify;
}

.box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

select, input, button {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: var(--color-gradient);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-top: 5%;
    align-items: center;
    
}

button:hover {
    transform: scale(1.05);
}

footer {
    background-color: var(--color-blue-50);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#resultado {
    margin-top: 20px;
}
